* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.container {
    display: flex;
    flex: 1;
    margin: 10px;
}
.sidebar {
    background-color: #2ecc71;
    width: 30%;
    padding: 20px;
    color: white;
    display: flex;
}
.content {
    background-color: #e74c3c;
    width: 70%;
    padding: 20px;
    color: white;
    display: flex;
    margin-left: 10px;
}
.footer {
    background-color: #9b59b6;
    color: white;
    text-align: center;
    padding: 15px;
}